<div *ngIf="pacient" class="container">

    <h3>Editar información</h3>

    <form>
        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput 
                   name="apellido"
                   [(ngModel)]="pacient.apellido"
            >
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput 
                   name="nombre"
                   [(ngModel)]="pacient.nombre"
            >
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>DNI</mat-label>
            <input matInput 
                   name="id"
                   [(ngModel)]="pacient.id"
            >
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="nacimientoPicker" [max]="maxDate" name="nacimiento" [(ngModel)]="nacimiento" (dateChange)="checkFechaDeNacimiento()">
            <mat-datepicker-toggle matSuffix [for]="nacimientoPicker"></mat-datepicker-toggle>
            <mat-datepicker #nacimientoPicker 
                             touchUi 
                             startView="multi-year"
                             (yearSelected)="chosenYearHandler($event)"
                             (monthSelected)="chosenMonthHandler($event)"  

                             >
            </mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mutual</mat-label>
            <input matInput 
                   name="obra_social"
                   [(ngModel)]="pacient.obra_social"
            >
        </mat-form-field>

        <mat-form-field *ngIf="pacient.telefono">
            <mat-label>Teléfono</mat-label>
            <input matInput 
                   name="teléfono"
                   [(ngModel)]="pacient.telefono"
            >
        </mat-form-field>
    
    </form>

    <button (click)="saveChanges()"
             mat-raised-button 
             color="warn" 
             style="width: 100%; margin: 0 auto;" 
    >        Guardar Cambios
    </button>

</div>